@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --black: #000000;
    --red: #aa0000;
    --green: #00aa00;
    --yellow: #aa5500;
    --blue: #0000aa;
    --magenta: #aa00aa;
    --cyan: #00aaaa;
    --white: #aaaaaa;
    --bright-black: #555555;
    --bright-red: #ff5555;
    --bright-green: #55ff55;
    --bright-yellow: #ffff55;
    --bright-blue: #5555ff;
    --bright-magenta: #ff55ff;
    --bright-cyan: #55ffff;
    --bright-white: #ffffff;
    --background: var(--black);
    --foreground: var(--white);
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background: var(--background);
    color: var(--foreground);
    margin: 0;
}

#terminal {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: none;
    overflow: hidden;
}
